BasedOnStyle: Chromium
IndentWidth: 4
TabWidth: 4
ColumnLimit: 95
UseTab: Never
IndentAccessModifiers: false
IndentCaseLabels: false
AccessModifierOffset: -4
BreakStringLiterals: false
PointerAlignment: Right
ReferenceAlignment: Left
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakConstructorInitializers: AfterColon
AlignAfterOpenBracket: AlwaysBreak
Cpp11BracedListStyle: true
